## Data Collection 2

**Here**, I collected crimes rates and populations per juridications.

In [161]:
import pandas as pd
df = pd.read_csv('HousePrices')
df.head()

,Unnamed: 0,Prices,Address,Jurisdiction,Zip Code,State,Longitude,Latitude
0,0,"$800,000","14745 Mulholland Dr, Los Angeles, CA 90077","Los Angeles, CA",90077,California,-118.242766,34.053691
1,1,"$2,995,000","837 Linda Flora Dr, Los Angeles, CA 90049","Los Angeles, CA",90049,California,-118.242766,34.053691
2,2,"$75,000","2520 N Woodstock Rd, Los Angeles, CA 90046","Los Angeles, CA",90046,California,-118.242766,34.053691
3,3,"$11,500","0 Denise Ave, Los Angeles, CA 90034","Los Angeles, CA",90034,California,-118.242766,34.053691
4,4,"$699,000","644 W 8th St, San Pedro, CA 90731","San Pedro, CA",90731,California,-118.292293,33.735852

In [163]:
import requests
from bs4 import BeautifulSoup as bs

url = 'https://www.laalmanac.com/crime/cr03.php'

r = requests.get(url)
soup = bs(r.content, 'html.parser')

In [164]:
#Table head

thead = soup.find_all('thead')[1]
head_title = []

for i in range(len(thead.find_all('th'))):
    head_title.append(thead.find_all('th')[i].text)

# We won't use this table head because of the Measure columns, we only want Crime rates

In [165]:
# Jurisdiction
Jurisdiction = []

for i in range(len(soup.find_all('tbody'))):
    tbody = soup.find_all('tbody')[i]
    Jurisdiction.append(tbody.find_all('td', class_="text-left")[0].text+', CA')
    Jurisdiction.append(tbody.find_all('td', class_="text-left")[3].text+', CA')
    Jurisdiction.append(tbody.find_all('td', class_="text-left")[6].text+', CA')

# Jurisdiction

In [166]:
# Total Violent Crimes 
Total_Violent_Crimes = []

for i in range(len(soup.find_all('tbody'))):
    tbody = soup.find_all('tbody')[i]
    tr = tbody.find_all('tr')[1]
    tr1 = tbody.find_all('tr')[3]
    tr2 = tbody.find_all('tr')[5]
    Total_Violent_Crimes.append(tr.select('td')[1].text)
    Total_Violent_Crimes.append(tr1.select('td')[1].text)
    Total_Violent_Crimes.append(tr2.select('td')[1].text)

# Total_Violent_Crimes

In [167]:
# Homicide
Homicide = []

for i in range(len(soup.find_all('tbody'))):
    tbody = soup.find_all('tbody')[i]
    tr = tbody.find_all('tr')[1]
    tr1 = tbody.find_all('tr')[3]
    tr2 = tbody.find_all('tr')[5]
    Homicide.append(tr.select('td')[2].text)
    Homicide.append(tr1.select('td')[2].text)
    Homicide.append(tr2.select('td')[2].text)

# Homicide

In [168]:
# Rape (Forcible Rape prior to 2014)
Rape = []

for i in range(len(soup.find_all('tbody'))):
    tbody = soup.find_all('tbody')[i]
    tr = tbody.find_all('tr')[1]
    tr1 = tbody.find_all('tr')[3]
    tr2 = tbody.find_all('tr')[5]
    Rape.append(tr.select('td')[3].text)
    Rape.append(tr1.select('td')[3].text)
    Rape.append(tr2.select('td')[3].text)

# Rape

In [169]:
# Robbery
Robbery = []

for i in range(len(soup.find_all('tbody'))):
    tbody = soup.find_all('tbody')[i]
    tr = tbody.find_all('tr')[1]
    tr1 = tbody.find_all('tr')[3]
    tr2 = tbody.find_all('tr')[5]
    Robbery.append(tr.select('td')[4].text)
    Robbery.append(tr1.select('td')[4].text)
    Robbery.append(tr2.select('td')[4].text)

# Robbery

In [170]:
# Aggravated Assault
Assault = []

for i in range(len(soup.find_all('tbody'))):
    tbody = soup.find_all('tbody')[i]
    tr = tbody.find_all('tr')[1]
    tr1 = tbody.find_all('tr')[3]
    tr2 = tbody.find_all('tr')[5]
    Assault.append(tr.select('td')[5].text)
    Assault.append(tr1.select('td')[5].text)
    Assault.append(tr2.select('td')[5].text)

# Assault

In [171]:
data = {
    'Jurisdiction': Jurisdiction, 
    'Total Violent Crimes': Total_Violent_Crimes,
    'Homicide' : Homicide, 
    'Rape (Forcible Rape prior to 2014)': Rape, 
    'Robbery': Robbery,
    'Aggravated Assault': Assault
    }
# data

In [172]:
# Build the df and export it into a csv
df2 = pd.DataFrame(data)
df2.Jurisdiction[0] = 'County Total, CA'
df2

,Jurisdiction,Total Violent Crimes,Homicide,Rape (Forcible Rape prior to 2014),Robbery,Aggravated Assault
0,"County Total, CA",585.8,8.5,39.5,157.5,380.4
1,"Agoura Hills, CA",125.2,0.0,10.0,45.1,70.1
2,"Alhambra, CA",204.4,3.7,14.6,74.2,111.9
3,"Arcadia, CA",216.9,1.8,19.6,71.1,124.5
4,"Artesia, CA",452.7,12.2,0.0,146.8,293.6
...,...,...,...,...,...,...
181,"Whittier, CA","2,093.6",275.4,451.7,"1,366.5",11.4
182,"Unincorporated Areas, CA","1,538.7",210.5,505.0,823.2,21.0
183,"CA Highway Patrol, CA",---,---,---,---,---
184,"Los Angeles Transit Serv. Bureau, CA",---,---,---,---,---
185,"Metropolitan Trans. Authority (MTA), CA",---,---,---,---,---

In [173]:
import numpy as np
from geopy.exc import GeocoderTimedOut
from geopy.geocoders import Nominatim

def findGeocode(city):

    try:
        geolocator = Nominatim(user_agent="your_app_name")
        return geolocator.geocode(city)
    
    except GeocoderTimedOut:
        return findGeocode(city)

In [176]:
longitude = []
latitude = []

for i in (df2['Jurisdiction']):
      
    if findGeocode(i) != None:
        loc = findGeocode(i)
        latitude.append(loc.latitude)
        longitude.append(loc.longitude)
    else:
        latitude.append(np.nan)
        longitude.append(np.nan)

In [177]:
df2['Longitude'] = longitude
df2['Latitude'] = latitude

,Jurisdiction,Total Violent Crimes,Homicide,Rape (Forcible Rape prior to 2014),Robbery,Aggravated Assault,Longitude,Latitude
0,"County Total, CA",585.8,8.5,39.5,157.5,380.4,23.595865,59.984655
1,"Agoura Hills, CA",125.2,0.0,10.0,45.1,70.1,-118.765704,34.147910
2,"Alhambra, CA",204.4,3.7,14.6,74.2,111.9,-118.127060,34.093042
3,"Arcadia, CA",216.9,1.8,19.6,71.1,124.5,-118.040150,34.136207
4,"Artesia, CA",452.7,12.2,0.0,146.8,293.6,-118.079620,33.869020
...,...,...,...,...,...,...,...,...
181,"Whittier, CA","2,093.6",275.4,451.7,"1,366.5",11.4,-118.030839,33.970878
182,"Unincorporated Areas, CA","1,538.7",210.5,505.0,823.2,21.0,NaN,NaN
183,"CA Highway Patrol, CA",---,---,---,---,---,-121.335905,51.750213
184,"Los Angeles Transit Serv. Bureau, CA",---,---,---,---,---,NaN,NaN
185,"Metropolitan Trans. Authority (MTA), CA",---,---,---,---,---,NaN,NaN

In [255]:
df2 = df2.dropna()
df2.to_csv('Crimes_rates')

In [178]:
url2 = 'https://www.laalmanac.com/population/po24la.php'

html = requests.get(url2)
webpage = bs(html.content, 'html.parser')

In [231]:
# Table head name

head = webpage.find_all('thead')[0]
head_name = head.find('th', class_="text-left").text

In [232]:
# Neighborhood
Neighborhood = []

for i in range(49):
    body = webpage.find_all('tbody')[i]
    tr0 = body.select('tr', class_="text-left")[0]
    tr2 = body.select('tr', class_="text-left")[2]
    tr4 = body.select('tr', class_="text-left")[4]
    Neighborhood.append(tr0.find('td').text+', Los Angeles')
    Neighborhood.append(tr2.find('td').text+', Los Angeles')
    Neighborhood.append(tr4.find('td').text+', Los Angeles')

# Neighborhood

In [233]:
for i in range(49, 50):
    body = webpage.find_all('tbody')[i]
    tr0 = body.select('tr', class_="text-left")[0]
    tr2 = body.select('tr', class_="text-left")[2]
    Neighborhood.append(tr0.find('td').text+', CA')
    Neighborhood.append(tr2.find('td').text+', CA')

len(Neighborhood)

149

In [234]:
# Table head name 2

head2 = webpage.find_all('thead')[0]
head_name_2 = head2.select('th', attrs={'rowspan':'2'} )[1].text

In [235]:
# Total Population, All Races
Total_population = []

for i in range(49):
    body = webpage.find_all('tbody')[i]
    tr0 = body.find_all('tr')[0]
    tr2 = body.find_all('tr')[2]
    Total_population.append(tr0.select('td')[1].text)
    Total_population.append(tr2.select('td')[1].text)
    Total_population.append(body.find_all('tr')[4].select('td')[1].text)

len(Total_population)

147

In [236]:
for i in range(49,50):
    body = webpage.find_all('tbody')[i]
    tr0 = body.find_all('tr')[0]
    tr2 = body.find_all('tr')[2]
    Total_population.append(tr0.select('td')[1].text)
    Total_population.append(tr2.select('td')[1].text)

len(Total_population)

149

In [237]:
data2 = {head_name:Neighborhood, head_name_2:Total_population}
print(len(Neighborhood), len(Total_population))

149 149

In [238]:
import numpy as np
df3 = pd.DataFrame(data2)
df3['Neighborhood'][0] = 'Los Angeles, CA'
df3

                                      Neighborhood Total Population, All Races
0                                  Los Angeles, CA                   3,973,278
1                        Angeles Mesa, Los Angeles                       6,169
2                              Arleta, Los Angeles                      38,020
3                   Arlington Heights, Los Angeles                      18,511
4                     Atwater Village, Los Angeles                      10,995
..                                             ...                         ...
144                    Wilshire Vista, Los Angeles                       2,275
145            Wilshire Vista Heights, Los Angeles                       2,658
146  Windsor Square/St. Andrews Place, Los Angeles                       6,713
147                                   Winnetka, CA                      33,496
148                             Woodland Hills, CA                      86,601

[149 rows x 2 columns]

In [216]:
import numpy as np
from geopy.exc import GeocoderTimedOut
from geopy.geocoders import Nominatim

def findGeocode(city):

    try:
        geolocator = Nominatim(user_agent="your_app_name")
        return geolocator.geocode(city)
    
    except GeocoderTimedOut:
        return findGeocode(city)

In [217]:
df3['Neighborhood']

0                       Los Angeles, CA
1                          Angeles Mesa
2                                Arleta
3                     Arlington Heights
4                       Atwater Village
                     ...
144                      Wilshire Vista
145              Wilshire Vista Heights
146    Windsor Square/St. Andrews Place
147                        Winnetka, CA
148                  Woodland Hills, CA
Name: Neighborhood, Length: 149, dtype: object

In [239]:
longitude1 = []
latitude1 = []

for i in (df3['Neighborhood']):
      
    if findGeocode(i) != None:
        loc = findGeocode(i)
        latitude1.append(loc.latitude)
        longitude1.append(loc.longitude)
    else:
        latitude1.append(np.nan)
        longitude1.append(np.nan)

In [259]:
df3['Longitude'] = longitude1
df3['Latitude'] = latitude1
df3 = df3.dropna()

In [260]:
df3.to_csv('Population_LA')

In [253]:
df2[['Jurisdiction','Latitude','Longitude']].to_csv('Crimes_rates_map')

In [254]:
df3[['Neighborhood','Latitude','Longitude']].to_csv('Population_map')

In [ ]:
# df.to_csv('Total_Population')